<div fxLayout="column" fxLayoutAlign="space-around start">

  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="50">
      <input matInput placeholder="Seu nome">
      <mat-hint>Digite aqui seu nome</mat-hint>
    </mat-form-field>

    <mat-form-field fxFlex="40">
      <input matInput placeholder="Seu email">
      <mat-hint>Digite aqui seu email</mat-hint>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="50">
      <input matInput placeholder="Titulo da mensagem">
    </mat-form-field>

    <mat-form-field fxFlex="40">
      <input matInput placeholder="Subtitulo da mensagem">
    </mat-form-field>
  </div>

  <mat-form-field>
    <textarea MatInput placeholder="Deixe aqui sua mensagem"></textarea>
  </mat-form-field>

</div>
