<div fxLayout="column" fxLayoutAlign="space-around left">

  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="50">
      <input matInput placeholder="Seu nome">
      <mat-hint>Digite aqui seu nome</mat-hint>
    </mat-form-field>

    <mat-form-field fxFlex="40">
      <input matInput placeholder="Seu email">
      <mat-hint>Digite aqui seu email</mat-hint>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="50">
      <input matInput placeholder="Titulo da mensagem">
    </mat-form-field>

    <mat-form-field fxFlex="40">
      <input matInput placeholder="Subtitulo da mensagem">
    </mat-form-field>
  </div>

  <mat-form-field>
    <textarea matInput placeholder="Deixe aqui sua mensagem"></textarea>
  </mat-form-field>
</div>

<input type="file" style="display: none" #fileinput>

<button mat-stroked-button color="primary" (click)="fileinput.click()">
  <mat-icon>add_a_photo</mat-icon>
  Adicionar uma foto
</button>

<br><br>

<div style="text-align: center;">
  <button mat-button color="primary">OK</button>
  <button mat-button color="warn">Cancelar</button>
</div>
